{% extends 'base.html.twig' %}

{% block title %}Notre Carte{% endblock %}

{% block body %}
    <div style="margin: 20px;">


        <table border="1" style="width: 100%; border-collapse: collapse; margin-top: 20px;">
            <thead>
            <tr style="background-color: #f0f0f0;">
                <th>Nom du Plat</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Restaurant</th>
                <th>Ajouter au panier</th>
            </tr>
            </thead>
            <tbody>
            {% for plat in plats %}
                <tr>
                    <td>
                        {% if plat.category %}
                            <span class="badge rounded-pill bg-primary mb-2">
                                {{ plat.category.name }}
                            </span>
                        {% else %}
                            <span class="badge rounded-pill bg-danger mb-2">
                                NON CLASSÉ
                            </span>
                        {% endif %}

                        <br>
                        <strong>{{ plat.nom }}</strong>
                    </td>
                    <td> x </td>
                    <td>{{ plat.prix }} €</td>

                    <td>{{ plat.restaurant.nom }}</td>

                    <td>
                    <a href="{{ path('cart_add', {'id': plat.id}) }}"
                       style="background-color: #007bff; color: white; padding: 5px 10px; text-decoration: none; border-radius: 5px;">
                        Ajouter au panier
                    </a>
                    </td>
                </tr>

            {% else %}
                <tr>
                    <td colspan="5">Aucun plat disponible pour le moment.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
